<div class="nav-bar">
  <div class="left-part">
    
    <h4><i class="material-icons">{{ icon }}</i> {{ title }}</h4>
  </div>
  <div class="right-part">
    <div class="right-part" id="nav-right">
      <!--
      <app-msgiconbtn icon="notifications" number="5" [matMenuTriggerFor]="notification"></app-msgiconbtn>
      -->
      <button mat-stroked-button [matMenuTriggerFor]="menu">
        <i class="material-icons icon-btn">account_circle</i>
        {{user? user.name: ''}}
      </button>

        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <mat-icon>trending_flat</mat-icon>
            <span>Sair</span>
          </button>
        </mat-menu>

        
      <mat-menu #notification="matMenu">
        <button mat-menu-item>Mike John responded to your email</button>
        <button mat-menu-item>You have 5 new tasks</button>
        <button mat-menu-item>You're now friend with Andrew</button>
        <button mat-menu-item>Another Notification</button>
        <button mat-menu-item>Another One</button>
      </mat-menu>
    </div>
    <div id="menu">
      <button mat-icon-button (click)="menuClick()"><i class="material-icons">menu</i></button>
    </div>
  </div>
</div>
